.App {
  text-align: center;
}

.StartButton {
  padding: 15px 25px;
  font-size: 18px;
  background: rgba(118, 180, 126, 0.9); 
  border: 1px solid rgba(118, 180, 126, 0.9);
  border-radius: 20px;
  margin-right: 10px;
  transition: all ease-in-out 400ms;
}

.StopButton {
  padding: 15px 25px;
  font-size: 18px;
  background: rgba(207, 109, 52, 0.9); 
  border: 1px solid rgba(207, 109, 52, 0.9);
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all ease-in-out 400ms;
}

.LapButton {
  padding: 15px 25px;
  font-size: 18px;
  background: rgba(73, 60, 255, 0.6); 
  border: 1px solid rgba(73, 60, 255, 0.6);
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all ease-in-out 400ms;
}

.ResetButton {
  padding: 15px 25px;
  font-size: 18px;
  background: rgba(66, 66, 70, 0.6); 
  border: 1px solid rgba(66, 66, 70, 0.6);
  border-radius: 20px;
  margin-left: 10px;
  transition: all ease-in-out 400ms;
}

.StartButton:hover,
.StartButton:focus {
  background: rgba(255, 255, 255, 1);
  color: rgba(118, 180, 126, 1);
  transition: all ease-in-out 400ms;
  outline: none;
}

.StopButton:hover,
.StopButton:focus {
  background: rgba(255, 255, 255, 1);
  color: rgba(207, 109, 52, 1);
  transition: all ease-in-out 400ms;
  outline: none;
}

.LapButton:hover,
.LapButton:focus  {
  background: rgba(255, 255, 255, 1);
  color: rgba(73, 60, 255, 1);
  transition: all ease-in-out 400ms;
  outline: none;
}

.ResetButton:hover, 
.ResetButton:focus {
  background: rgba(255, 255, 255, 1);
  color: rgba(66, 66, 70, 1);
  transition: all ease-in-out 400ms;
  outline: none;
}

.hideUntilNeeded {
  display: none;
}

.showWhenNeeded {
  display: block;
}